.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 50vmin;
  width: 50vmin;
  border-radius: 20px;
  font-size: 2vmin;
}

.tile-wrapper {
  position: relative;
  height: calc(25% - 2px);
  width: calc(25% - 2px);
  border-radius: 10px;
  border: 1px solid white;
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}

.tile-back, .tile-front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 9px;
}

.tile-back img {
  height: 50%;
  width: 50%;
}

.App-link {
  color: #61dafb;
}
