.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

.App h1, .App h2, .App h3, .App h4 {
  position: relative;
  /* width: 100%; */
  transition-property: color, top, bottom;
  transition-duration: .3s, 1.5s, 1.5s;
  transition-timing-function: linear, ease, ease;
}

h4 {
  margin: 5px;
}

.header {
  top: 0px;
}

.header.pre-animate {
  top: -100vh;
}

.footer {
  bottom: 0px;
}

.footer.pre-animate {
  bottom: -100vh;
}

#match-miss {
  /* display: flex; */
  /* justify-content: space-between; */
}

#reload {
  background-color: white;
  color: rgba(31, 198, 73, 1);
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}

.red {
  color: #D70028;
}

.green {
  color: rgba(31, 198, 73, 0.7);
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 50vmin;
  width: 50vmin;
  border-radius: 20px;
  font-size: 2vmin;
}

.tile-animation-wrapper {
  position: relative;
  height: calc(25% - 10px);
  width: calc(25% - 10px);
  transition-property: opacity, top;
  transition-duration: .3s, .3s;
  transition-timing-function: linear, linear;
  opacity: 1;
  top: 0px;
  margin: 5px;
}

.tile-animation-wrapper.pre-animate {
  opacity: 0;
  top: 15px;
  pointer-events: none;
}

.tile-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
  pointer-events: none;
}

.matched {
  background-color: rgba(31, 198, 73, 0.7);
}

.tile-back, .tile-front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 9px;
}

.tile-front {
  transition: background-color .4s linear;
}

.tile-back img {
  height: 50%;
  width: 50%;
}

.tile-front p {
  position: relative;
  z-index: 100;
}

.App-link {
  color: #61dafb;
}
