@media screen and (max-width: 500px) and (max-height: 500px) {
  .grid-section {
    max-width: unset;
    max-height: unset;
  }
}

@media screen and (min-width: 768px) { /* ipad mini */
  h1  {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  .link-img-wrapper {
    width: 50px;
  }
  .links p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  .links p {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (min-aspect-ratio: .8) {
  h1 {
    font-size: min(max(24px, 5vh), 36px);
  }
  h2 {
    font-size: min(max(1rem, 4vh), 30px);
  }
}

@media screen and (min-aspect-ratio: 1.6) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    grid-template-rows: 1fr 9fr 1fr;
    padding: 0 0 10px;
  }

  header {
    display: none;
    /* grid-column: 1 / 2;
    grid-row: 1 / 2; */
  }

  #alt-header {
    display: block;
    /* font-size: 40px; */
    font-size: clamp(30px, 7vh, 60px);
  }

  .grid-section {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    aspect-ratio: 1 / 1;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 80vh;
    max-height: 80vh;
    margin: 0 auto;
  }

  .score-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .links {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: auto auto;
  }

  .link-img-wrapper {
    /* width: 75px; */
    width: clamp(40px, 7vh, 80px);
  }

}

@media (hover:hover) {
  .tile-back:hover .animation-bounce {
    animation: 1s ease 0s 1 bounce;
  }

  .links a:hover {
    scale: 1.075;
  }
}