@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
  }

  .grid-wrapper {
    height: 80vmin;
    width: 80vmin;
    font-size: 3.3vmin;
  }

}

@media screen and (max-width: 500px) {
  .sidebar-wrapper {
    display: block;
    bottom: 0;
    height: 15vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
