@media screen and (max-width: 750px) {
  .sidebar-wrapper {
    display: none;
  }

  /* .sidebar-wrapper {
    bottom: 10px;
    right: 10px;
    left: 10px;
    max-width: unset;
    height: 25%;
    width: 90%;
    margin: 0 auto;
  } */

  .grid-wrapper {
    height: 80vmin;
    width: 80vmin;
    font-size: 3.3vmin;
  }

}
